/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
  background: #222;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  
}

blockquote,
q {
  quotes: '' '';

  &:before,
  &:after {
    content: '';
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: $base__space-unit;
}

ul,
ol {
  margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: $base__space-unit;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $base__space-unit $base__space-unit;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

table {
  margin: 0 0 $base__space-unit;
  width: 100%;
}

// Main Content Area

// #content {
//   max-width: 1080px;
//   margin: 0 auto;
//   display:flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   &:before {
//   font-family: FontAwesome;
//   content: "\f10d";
//   left: -175px;
//   color: #0c0;
//   font-size: 125px;
//   }
//   &:after {
//     font-family: FontAwesome;
//     content: "\f10e";
//     right: -175px;
//     color: #0c0;
//     font-size: 125px;
//   }
// }

.site-content:before {
  content: "\f10d";
  left: -175px;
}
.site-content:after, .site-content:before {
  color: #00cc00;
  font-family: FontAwesome;
  font-size: 125px;
  line-height: 125px;
  position: absolute;
  top: 0;
}
.site-content:after {
  content: "\f10e";
  right: -175px;
}
.site-content:after, .site-content:before {
  color: #00cc00;
  font-family: FontAwesome;
  font-size: 125px;
  line-height: 125px;
  position: absolute;
  top: 0;
}
.site-content {
  margin: 4.5rem 175px 1.5rem;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#get_quote {
  background-color: #222;
  border: 2px solid #0c0;
  border-radius: 3px;
  color: #0c0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: .75rem 2.25rem;
  font-weight: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
