/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */


#page {
    background: #222;
    
}
.main-logo {
    width:700px;
    height:200px;
}
.site-branding {
    display:flex;
    justify-content:center;
    
}


